[Unit]
Description=Gitlab master
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /app/gitlab/docker-compose.yaml up
ExecStop=/usr/local/bin/docker-compose -f /app/gitlab/docker-compose.yaml down

[Install]
WantedBy=multi-user.target
